@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

/* container */
.container {
  display: flex;
}

/* sidebar */
.sidebar {
  width: 300px;
  height: 100vh;
  background-color: #1992d2;
  padding: 1.5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* sidebar header */
.sidebar-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}
.sidebar-header i {
  font-size: 35px;
  margin-top: 5px;
}

/* sidebar content */
.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.4rem;
}
.sidebar-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
}

/* main */
.main {
  width: calc(100% - 300px);
  height: 100vh;
  background-color: #fffffe;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* main header */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.main-header i {
  font-size: 1.2rem;
  margin-top: 5px;
}
/* main header search */
.main-header-search {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: 50%;
}
.main-header-search input {
  width: 100%;
  border-radius: 12px;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  background-color: #e0e8f0;
}

/* main header profile */
.main-header-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main-header-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* main content */
.main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* main navbar */
.main-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 0.5rem;
}
.main-navbar-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main-navbar-profile span {
  font-size: 2rem;
}
.main-navbar-profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.main-navbar-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main-navbar-buttons button {
  background-color: #1992d2;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 1.2rem;
}
